/*
Based on https://luigicavalieri.com/blog/drawing-tooltip-with-css/ and
https://luigicavalieri.com/blog/css-tooltip-appearing-from-any-direction/
 */
.tooltip {
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.tooltip:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
}

.tooltip-content {
  background-color: #333;
  border-radius: 4px;
  bottom: calc( 100% + 0.6em + 2px );
  box-shadow: 0 2px 4px #07172258;
  color: #fff;
  display: flex;
  opacity: 0;
  transition: all 0.3s ease-in;
  visibility: hidden;
  font-size: 0.68rem;
  justify-content: center;
  line-height: 1.35em;
  padding: 0.5em 0.7em;
  position: absolute;
  text-align: center;
  width: 7rem;
  z-index: 1;
}

.tooltip-content-manual-linebreaks {
  white-space: pre;
}

.tooltip-arrow .tooltip-content::before {
  border-width: 0.6em 0.8em 0;
  border-color: transparent;
  @apply border-t-orange-500;
  content: "";
  display: block;
  border-style: solid;
  position: absolute;
  top: 100%;
}

.tooltip.top .tooltip-content {
  margin-bottom: 8px;
}

.tooltip.top:hover .tooltip-content {
  margin-bottom: 0;
}

.tooltip.bottom .tooltip-content {
  /**
   * 100% of the height of .tooltip
   *
   * 0.6em is the height of the triangle ( .tooltip::before )
   *
   * 2px is an arbitrary blank gap between
   * the tip of the triangle and .help-point
   */
  top: calc( 100% + 0.6em + 2px );
  margin-top: 8px;
}

.tooltip.bottom:hover .tooltip-content{
  margin-top: 0;
}

.tooltip.bottom .tooltip-content::before {
  transform: rotate( 180deg );

  /* 100% of the height of .tooltip-content*/
  bottom: 100%;
}

.tooltip:not(.top) .tooltip-content{
  bottom: auto;
}
.tooltip:not(.top) .tooltip-content::before {
  top: auto;
}

.tooltip.right,
.tooltip.left {
  /* Vertically centres .tooltip-content*/
  align-items: center;
}

.tooltip.right .tooltip-content,
.tooltip.left .tooltip-content {
  /* Vertically centres the triangle (.tooltip::before) */
  align-items: center;

  /* We limit the height to make the tooltip look nicer. */
  min-height: 2.5em;
}

.tooltip.right .tooltip-content {
  left: calc( 100% + 0.6em + 2px );
  margin-left: 8px;
}

.tooltip.right:hover .tooltip-content {
  margin-left: 0;
}

.tooltip.right .tooltip-content::before {
  right: calc( 100% - 0.5em - 0.25em );
  transform: rotate( 90deg );
}

.tooltip.left .tooltip-content {
  right: calc( 100% + 0.6em + 2px );
  margin-right: 8px;
}

.tooltip.left:hover .tooltip-content {
  margin-right: 0;
}

.tooltip.left .tooltip-content::before {
  left: calc( 100% - 0.5em - 0.25em );
  transform: rotate( -90deg );
}
